<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/basicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>ADMIN_USER</param-name>
    <param-value>BROWN</param-value>
  </context-param>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/error/ArithmeticException.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404/404.html</location>
  </error-page>
  <filter>
    <filter-name>requestCounter</filter-name>
    <filter-class>kr.or.ddit.filter.RequestCounterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>requestCounter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  
<!--   <listener> -->
<!--     <listener-class>kr.or.ddit.listener.SessionListener</listener-class> -->
<!--   </listener> -->
<!--   <listener> -->
<!--     <listener-class>kr.or.ddit.listener.RequestListener</listener-class> -->
<!--   </listener> -->
<!--   <listener> -->
<!--     <listener-class>kr.or.ddit.listener.SessionAttributeListener</listener-class> -->
<!--   </listener> -->
</web-app>